/*
Theme Name: Trinity
Theme URI: http://castlemediagroup.com/
Author: Castle Media Group
Author URI: http://castlemediagroup.com/
Description: A simple wordpress theme designed for child theming.
Version: 2.1.0
*/



/*----------------------------------------------------------------------*/
/*---------------------- Reset default browser CSS ---------------------*/
/*----------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

/* focus styles are important */
:focus {
	outline: 0;
}

body {
	background: #fff;
	line-height: 1;
	min-width: 100%;
	padding: 0;
}

table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	font-weight: normal;
	text-align: left;
}

article, footer, header, hgroup, menu, nav, section {
	display: block;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.9em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.3em
}

hr {
	clear: both;
}

p {
	margin-bottom: 1em;
	line-height: 1.5em;
}

ul, ol {
	margin: 0 0 1.6em 2.5em;
}

ul {
	list-style: square;
}

ol {
	list-style-type: decimal;
}

ol ol {
	list-style: upper-alpha;
}

ol ol ol {
	list-style: lower-roman;
}

ol ol ol ol {
	list-style: lower-alpha;
}

ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}

li {
	line-height: 1.5em;
}

strong {
	font-weight:bold;
}

cite, em, i {
	font-style: italic;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

blockquote {
	font-style: italic;
	font-weight: normal;
	margin: 0 3em;
}

sup, sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

a img {
	border: 0;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: blue;
}

a:active, a:hover, a:focus {
	text-decoration: underline;
}

body, input, textarea
{
	color: black;
	font-size: 15px;
	font-family: Helvetica, Arial, sans-serif;
}





/*----------------------------------------------------------------------*/
/*--------------------------- Header Styling ---------------------------*/
/*----------------------------------------------------------------------*/

header.site-header
{
	background: #e0e0e0;
	margin: 0 auto;
	width: 960px;
}

header.site-header .site-title
{
	display: inline-block;
	padding: 20px 30px 10px 30px;
}

header.site-header .site-description
{
	font-size: 12px;
	display: block;
	padding: 10px;
	padding-left: 30px;
	padding-top: 0px;
}

header.site-header .site-title a
{
	clear: both;
	color: #111;
	font-size: 30px;
}

header.site-header .site-title a:hover,
header.site-header .site-title a:focus,
header.site-header .site-title a:active
{
	text-decoration: none;
}





/*----------------------------------------------------------------------*/
/*---------------------------- Footer Styling --------------------------*/
/*----------------------------------------------------------------------*/

footer.site-footer
{
	clear: both;
	text-align: center;
	width: 940px;
	margin: 0 auto;
	padding: 15px 10px;
	background: #c1c1c1;
}

footer.site-footer a
{
	text-decoration: none;
	color: #7f7f7f;
	margin: 0 auto;
}





/*----------------------------------------------------------------------*/
/*-------------------------- Main Menu Styling -------------------------*/
/*----------------------------------------------------------------------*/

header.site-header nav.site-menu
{
	clear: both;
	width: 100%;
	height: 2.0em;
	background: #CECECE;
}

header.site-header nav.site-menu ul
{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

header.site-header nav.site-menu li
{
	float: left;
	position: relative;
}

header.site-header nav.site-menu a
{
	display: block;
	padding: 0.5em 1.5em;
}

header.site-header nav.site-menu ul ul
{
	display: none;
	float: left;
	margin: 0;
	position: absolute;
	top: 1.9em;
	width: 200px;
	z-index: 99999;
	background: #aaa;
}

header.site-header nav.site-menu ul ul ul
{
	left: 100%;
	top: 0;
}

header.site-header nav.site-menu ul ul a
{
	font-size: 13px;
	height: auto;
	padding: 10px 10px;
	width: 180px;
}

header.site-header nav.site-menu ul li:hover > ul
{
	display: block;
}





/*----------------------------------------------------------------------*/
/*--------------------------- General Styling --------------------------*/
/*----------------------------------------------------------------------*/

.page
{
	margin: 0 auto;
	min-width: 100%;
}

.main
{
	clear: both;
	width: 960px;
	margin: 0 auto;
}

/*Content*/

.content
{
	padding: 0 10px 0 10px;
	width: 670px;
	background: #dedede;
	float: left;
}

.page-title
{
	padding: 0px 0px 30px 0px;
}

.entry-content
{
	padding: 7px 0px 15px 0px;
}

.entry-header
{
	padding: 7px;
}

.entry-header .entry-meta
{
	padding: 5px;
}

.entry-header .entry-title
{
	clear: both;
	font-size: 22px;
	padding-top: 5px 0px 15px 0px;
}

.entry-meta p
{
	margin-bottom: 0;
}

.entry-content h1,
.entry-content h2
{
	font-weight: bold;
	font-size: 18px;
	margin: 0px 0px 10px 0px;
}

/*Links*/

.edit-link a
{
	float: right;
	padding: 0 8px;
}

.read-button
{
	float:right;
	padding-bottom: .5em;
}

/* Password Protected Posts */
.post-password-required .entry-header .comments-link
{
	margin: 1.625em 0 0;
}

.post-password-required input[type=password]
{
	margin: 0.8125em 0;
}

/*Format featured images in pages and singles*/
.entry-image img {
	float: left;
	clear: none;
}

.feature-img {
	float: left;
	margin: .5em;
}

/* Make sure images with WordPress-added height and width attributes are scaled correctly */
img[class*="align"],
img[class*="wp-image-"] {
	height: auto;
}

/* Prevent stretching of full-size images with height and width attributes in IE8 */
img.size-full {
	max-width: 97.5%;
	width: auto;
}

img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 1em;
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0 auto;
	float: none;
	display: block;
}



/*----------------------------------------------------------------------*/
/*--------------------------- Sidebar Styling --------------------------*/
/*----------------------------------------------------------------------*/

.main-sidebar
{
	float: right;
	padding: 5px;
	width: 260px;
	background: #dedede;
}

.main-sidebar .widget-title
{
	padding-bottom: 5px;
}





/*----------------------------------------------------------------------*/
/*--------------------------- Search Styling ---------------------------*/
/*----------------------------------------------------------------------*/

.entry-content .s
{
	width: 75%;
}





/*----------------------------------------------------------------------*/
/*------------------------- Pagination Styling -------------------------*/
/*----------------------------------------------------------------------*/

.content nav
{
	clear: both;
	overflow: hidden;
}

.content nav.pagination-above .previous, .content nav.pagination-below .previous
{
	float: right;
	font-size: 18px;
	text-align: right;
	padding: 10px 0px;
}

.content nav.pagination-above .next, .content nav.pagination-below .next
{
	float: left;
	font-size: 18px;
	text-align: left;
	padding: 10px 0px;
}





/*----------------------------------------------------------------------*/
/*--------------------------- Comment Styling --------------------------*/
/*----------------------------------------------------------------------*/

.comments .commentlist
{
	display: inline-block;
	list-style: none;
	margin: 10px auto;
	background: #efefef;
}

.comments .commentlist li
{
	border-top: 1px solid gray;
}

.comments .commentlist .children
{
	list-style: none;
	margin: 0 0 1.6em 2.5em;
}

.comments #reply-title .title_reply_to
{
	display: none;
}

.comments #reply-title #cancel-comment-reply-link
{
	font-size: 12px;
	float: right;
	padding-right: 30px;
}

.comments #comment
{
	display: block;
	width: 90%;
}

.comments #respond
{
	margin: 10px;
	padding: 10px;
	border: 1px dashed gray;
}

.comments #comment-reply-link, .comments #reply
{
	text-align: right;
}